.contactSection {
  background-image: url(/public/img/ContactImg.jpg);
  margin-top: 4rem;
  height: 100%;
  background-repeat: no-repeat;
}

.contactTitle {
  text-align: center;
  font-size: 2rem;
  font-weight: 600;
  margin-bottom: 3rem;
}

.contactBox {
  width: 80%;
  padding: 3rem 1.25rem;
  left: 10%;
  position: relative;
  background-color: #fff;
  margin-bottom: 3rem;
  margin-top: 4rem;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.06), 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}

.iconCircle {
  width: 2.3rem;
  height: 2.3rem;
  margin: 0 auto;
  background: #cee2f2;
  border-radius: 50%;
  text-align: center;
  display: inline-block;
  line-height: 2rem;
  color: #0078ff;
  margin: 1vw 2vw 1vw 0vw;
  font-size: 1.5rem;
}

.iconLinker {
  width: 4rem;
  height: 4rem;
  box-shadow: inset 0 0 0 0 #fff;
  border-radius: 20%;
  text-align: center;
  color: #3d69cf;
  font-size: 2.5rem;
  margin-right: 3vw;
  display: block;
}
.column {
  flex: 50%;
  padding: 10px;
  height: 100%;
  position: relative;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.linkerList {
  display: inline-block;
  margin-right: 1.5rem;
  list-style: none;
}

.linkEmail {
  text-decoration: none;
  color: rgb(45, 43, 43);
}

.linkEmail:hover {
  text-decoration: underline;
}

@media only screen and (max-width: 1200px) {
  .column {
    flex: none;
    text-align: center;
    position: relative;
  }

  .iconCircle {
    width: 2rem;
    height: 2rem;
    font-size: 1rem;
  }

  .iconList {
    text-align: center;
  }
}

@media only screen and (max-width: 480px) {
  .column {
    flex: none;
    text-align: center;
    position: relative;
  }

  .iconList li {
    font-size: 0.8rem;
  }
}
