.container {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(0, 0, 0, 0.7);
}
.modalBox {
  z-index: 10;
  height: 80%;
  width: 85%;
  max-height: 80%;
  max-width: 85%;
  background: white;
  display: flex;
  border-radius: 10px;
  border: 1px solid rgb(135, 132, 132);
  position: fixed;
  flex-direction: column;
  margin-top: 4rem;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: double;
}

h3 {
  font-family: "Aladin";
  margin: 1rem;
}

.closeBtn {
  cursor: pointer;
  border: none;
  outline: none;
  background: none;
  font-size: 2rem;
  font-weight: bold;
  margin: 1rem;
}

.closeBtn:hover {
  color: grey;
}

/* ModalBox Styling */
.modalContainer {
  width: 100%;
  padding: 0 5rem 0;
}

.modalBody {
  padding: 1vh 1vw;
  margin-top: 1rem;
  width: 100%;
}

.slide {
  position: relative;
  height: 20rem;
  background-repeat: no-repeat;
}

.rowModal {
  display: flex;
}

.column {
  text-align: center;
  flex: 1;
}

.item {
  font-family: "Trebuchet MS", sans-serif;
  font-size: larger;
}

.index {
  font-size: large;
}

.listBrief {
  text-align: left;
  margin: 0 1rem 0 0;
  font-size: 1.2rem;
  font-family: Garamond, serif;
}

/* Slideshow Styling*/
.slider {
  height: 100%;
  width: 100%;
  position: relative;
}

.slideContainer {
  width: 100%;
  height: 80%;
  position: relative;
}

.arrowsContainer {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 100%;
  max-width: 600px;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.leftArrow,
.rightArrow {
  font-size: 45px;
  color: #cdc7c7;
  cursor: pointer;
  display: cover;
}

.leftArrow:hover,
.rightArrow:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

.dotContainer {
  display: flex;
  justify-content: center;
}

.dot {
  margin: 1.5rem;
  cursor: pointer;
  font-size: 1rem;
}

/**/
@media only screen and (max-width: 1000px) {
  .modalContainer {
    padding: 0;
  }

  .rowModal {
    display: inline;
  }

  .column {
    flex: none;
  }

  .briefContainer {
    margin-top: 3rem;
  }

  .infoList {
    margin-left: 0;
    text-align: center;
  }

  .listBrief {
    font-size: 1.1rem;
  }
}

@media (min-width: 1024px) {
  .modalBody {
    margin-top: 3rem;
  }
}
