/*Global css code*/
body {
  background-color: #f5f5f5;
  color: #4e4e4e;
}

.titleBox {
  margin-bottom: 4rem;
  text-align: center;
}

.title {
  text-decoration: none;
  font-size: 3rem;
  font-weight: bold;
  text-transform: uppercase;
}

.line {
  width: 40px;
  height: 5px;
  background-color: #0078ff;
  margin: 0 auto;
}

.circle {
  font-size: 1rem;
  font-weight: 900;
}

.timeline {
  position: relative;
  margin-top: 1rem;
  margin-left: 30px;
}

.uni {
  position: relative;
  margin-left: 1.5rem;
  font-size: 1.5rem;
  font-family: "Quicksand", Arial, sans-serif;
  font-weight: 500;
}

.year {
  -webkit-opacity: 0.4;
  -moz-opacity: 0.4;
  opacity: 0.4;
  -ms-filter: alpha(opacity=40);
  filter: alpha(opacity=40);
  font-size: 1rem;
  margin-left: 1rem;
}

.degree {
  font-size: 1rem;
  position: relative;
  padding: 0 0 3rem;
  margin-left: 2.5rem;
  margin-top: 1rem;
}
