/*Global css code*/
body {
  background-color: #f5f5f5;
  color: #4e4e4e;
}

.titleBox {
  margin-bottom: 4rem;
  text-align: center;
}

.title {
  text-decoration: none;
  font-size: 3rem;
  font-weight: bold;
  text-transform: uppercase;
}

.line {
  width: 40px;
  height: 5px;
  background-color: #0078ff;
  margin: 0 auto;
}

.circle {
  font-size: 1rem;
  font-weight: 900;
}

.timeline {
  position: relative;
  margin-bottom: 2rem;
}