body {
  background-color: #f5f5f5;
  color: #4e4e4e;
}

.titleBox {
  margin-bottom: 4rem;
  text-align: center;
}

.title {
  text-decoration: none;
  font-size: 3rem;
  font-weight: bold;
  text-transform: uppercase;
}

.subtitle {
  text-decoration: none;
  color: #4e4e4e;
}

.skillsContainer {
  padding: 3rem 1.25rem;
  position: relative;
  background-color: #f5f5f5;
  margin-bottom: -2rem;
  margin-top: -4%;
}

.skillBoxRow {
  margin: 0em 1em 0em 1em;
  text-align: center;
}

.skillBox {
  padding: 3rem 1.25rem;
  position: relative;
  justify-content: center;
  background-color: #fff;
  margin-bottom: 3rem;
  z-index: 2;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.06), 0 2px 5px 0 rgba(0, 0, 0, 0.2);
  border-radius: 25px;
  height: auto;
  max-width: 100%;
  min-width: fit-content;
}

.line {
  width: 40px;
  height: 5px;
  background-color: #0078ff;
  margin: 0 auto;
}

.imgBox {
  width: 90px;
  height: 90px;
  position: relative;
  border-radius: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  margin-bottom: 1em;
  margin-left: auto;
  margin-right: auto;
  border-radius: 50%;
  overflow: hidden;
}

.imgBox img {
  width: 100%;
  height: auto;
  transition: all 1s;
}

.imgBox img:hover {
  width: 110%;
  height: 110%;
  transform: scale(1.3);
}

.fullScreenImage {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 3;
}

.fullScreenImage img {
  width: 80%;
  height: 80%;
}

.certificate {
  cursor: zoom-in;
}

.containerSub {
  margin: 0 9rem;
}

@media (min-width: 768px) {
  .containerSub {
    max-width: 1200px;
    margin: 0 auto;
  }
}

.textbox {
  padding: 3rem 1.25rem;
  position: relative;
  background-color: #fff;
  margin-bottom: 3rem;
  z-index: 2;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.06), 0 2px 5px 0 rgba(0, 0, 0, 0.2);
  margin-top: 1.5rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem 1rem;
}

.textbox h4 {
  text-align: center;
  text-decoration: underline;
  text-underline-offset: 6px;
  text-decoration-thickness: 1.5px;
  margin-bottom: 1.5rem;
}
